<%/*script src="/public/js/libs/angularjs/1.2.0/angular.min.js"></script>*/%>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src='/public/js/shop.js'></script>
</body>
</html>